body{
    font:bold 12px "Trebuchet Ms", Arial;
}

input[type="submit"]{
    border:none;
    font:bold 12px "Trebuchet Ms", Arial;
    width: 70px;
    height: 40px;
    cursor: pointer;
    color:#fff;
    background: #666;
    float:left;
    margin-left: 10px;
    display: inline;
}
span{
    margin-left:10px;
    float:left;
    display : inline;
    height: 40px;
    line-height: 40px;

}


.math {
    margin-top: 15px;
    display: flex;
}

#resultado {
    margin-left: 15px;
    font-size: 18pt;
}